eval_data/filtered
eval_data/repo
eval_data/raw

java-repo-parser/target/
java-repo-parser/repo/
java-repo-parser/*.json

repo/

result/

.env
################################################
.vscode
.idea
.DS_Store

__pycache__/
*.py[cod]
*$py.class
**/*.ipynb_checkpoints/