evaluation/filtered
evaluation/repo
evaluation/raw

java-repo-parser/target/
java-repo-parser/repo/
java-repo-parser/*.json

repo/

result/
################################################
.vscode
.idea
.DS_Store

__pycache__/
*.py[cod]
*$py.class
**/*.ipynb_checkpoints/