evaluation/filtered
evaluation/repo
evaluation/raw

java-repo-parser/target/
java-repo-parser/repo/
java-repo-parser/*.json

tuning/data/javadocs/

tuning/data/class/**
!tuning/data/class/*.py

tuning/data/package/**
!tuning/data/package/*.py

repo/

result/

model/
################################################
.vscode
.idea
.DS_Store

__pycache__/
*.py[cod]
*$py.class
**/*.ipynb_checkpoints/